<div class="row">
	<div class="container">
		<div class="span4 offset4">
			<div class="span9">
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Пакетная загрузка документов</h3></div>
					<div class="panel-body">
				<!-- 	<div ng-if="alert_type" class="alert alert-{{alert_type}} alert-dismissable">{{alert_msg}}</div> -->
						<form class="form-horizontal" novalidate my-validate name="form">
							<div class="form-group" my-validate-class="company">
								<label class="col-sm-3 control-label">Контрагент</label>
								<div class="col-sm-6">
									<input type="text" name="company" ng-model="company" placeholder="Введите название контрагента..." typeahead="yyy as yyy.name for yyy in getClients($viewValue)" typeahead-min-length="1" typeahead-loading="loadingLocations" class="form-control" value="{{company.name}}" required>
									<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
									<span class="help-block" my-validate-message="company"></span>
								</div>
							</div>
							<div class="form-group" my-validate-class="ourcompany">
								<label class="col-sm-3 control-label">Наша компания</label>
								<div class="col-sm-6">
									<select class="form-control input-sm" ng-model="ourcompany" name="ourcompany" required>
										<option  ng-repeat="ourcompany in ourcompanes">{{ourcompany.name}}</option>
									</select>
									<span class="help-block" my-validate-message="ourcompany"></span>
								</div>
							</div>
							<div class="form-group" my-validate-class="type_of_doc">
								<label class="col-sm-3 control-label">Тип документа</label>
								<div class="col-sm-6">
									<select class="form-control input-sm" ng-model="type_of_doc" name="type_of_doc" required>
										<option  ng-repeat="type in types">{{type.name}}</option>
									</select>
									<span class="help-block" my-validate-message="type_of_doc"></span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Загрузка файлов</label>
								<div class="col-sm-6">
									<span ng-repeat="item in uploader_xls.queue" ng-if="uploader_xls.show">
										<strong>{{ item.file.name }}</strong>
										<button type="button" class="btn btn-danger btn-xs" ng-click="DeleteXLS();item.remove()">
											<span class="glyphicon glyphicon-trash"></span> 
										</button>
									</span>
									<span class="btn btn-success fileinput-button" ng-if="preloader==false">
										<span>Выбрать excel файл</span>
										<input id="fileupload" type="file" name="xls[]" nv-file-select onclick="this.value='' "uploader="uploader_xls" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  >
									</span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
						                <div class="itm_desk">
						                	<div class="itm_col" ng-repeat="list in uploader_files.queue">
						                		<div class="upl_item_notexist itm_disp" ng-class="{'upl_item_ready':list.file.selected == 1}" ng-if="list.file.selected == 0 || list.file.selected == 1">{{list.file.name}}</div>
						                		<div class="itm_disp"><button ng-if="list.file.selected == 1" type="button" class="btn btn-danger btn-xs" ng-click="DeleteGreen(list)">
						                			<span class="glyphicon glyphicon-trash"></span> 
						                		</button></div>
						                	</div>
						                </div>

						                <div ng-if="errXSL" class="alert alert-danger alert-dismissable">Ошибка : {{errXSL}}</div>

						                <span ng-repeat="item in uploader_files.queue"  >
								    		<span ng-if="item.file.selected == 2 && item.file.size">
									    		<strong class="upl_item" >{{ item.file.name }}</strong>
						                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
						                            <span class="glyphicon glyphicon-trash"></span> 
						                        </button>
						                    </span>
						                </span>

						                <div ng-if="errFiles" class="alert alert-danger alert-dismissable">Ошибка : {{errFiles}}</div>

						                <span class="btn btn-success fileinput-button" ng-if="preloader==false">
						                	<i class="glyphicon glyphicon-plus"></i>
						                	<span>Добавить скан</span>
						                	<input id="fileupload2" type="file" name="file[]" multiple nv-file-select uploader="uploader_files"  > <!-- accept="image/*,application/pdf" -->
						                </span>
						            </div>
						        </div>
						        <div class="col-sm-offset-3 col-sm-10" ng-if="preloader==false">
						        	<button type="button" class="btn btn-primary" ng-click="Submit()"><i class="fa fa-check-circle"></i> Готово</button> 
						        	<a href="#/documents" type="button" class="btn btn-default"><i class="fa fa-reply"></i>  Отменить</a>
						        </div>
						        <img src="/images/preloader.gif" ng-if="preloader" class="live2_preloader">
						    </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
