<div class="row">
	<div class="container">
		<div class="span4 offset4">
			<div class="span9">
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Добавление документа</h3></div>
					<div class="panel-body">
						<form class="form-horizontal" novalidate my-validate name="form">
								<div class="form-group" my-validate-class="company">
									<label class="col-sm-3 control-label">Контрагент</label>
									<div class="col-sm-6">
										<div class="add_doc_validstar">*</div>
										<input type="text" id="comp1" name="company" ng-model="company" placeholder="Введите название контрагента..." typeahead="yyy as yyy.name for yyy in getClients($viewValue)" typeahead-min-length="1" typeahead-loading="loadingLocations" class="form-control" value="{{company.name}}" autofocus focus-after-ajax add-popup required existname >
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                        <div class="help-block-add" ng-if=" !company.name && form.myVal " >
                                        	<b>"{{form.myVal}}" </b> не найдено в базе.<br>
                                        	<span class="add_popup" data-toggle="modal" data-target="#basicModal"  ng-click="Popup()" >Добавить</span>? 
                                        </div>
                                        <span class="help-block" my-validate-message="company"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="cinema">
									<label class="col-sm-3 control-label">Кинотеатр</label>
									<div class="col-sm-6">
                           				<input type="text" name="cinema" ng-model="cinema" placeholder="Введите название кинотеатра..." typeahead="cinema as cinema.fullname for cinema in getCinema($viewValue)"  typeahead-min-length="3" typeahead-loading="loadingLocations" class="form-control" existname>
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
										<span class="help-block" my-validate-message="cinema"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="ourcompany">
									<label class="col-sm-3 control-label">Наша компания</label>
									<div class="col-sm-6">
										<div class="add_doc_validstar">*</div>
										<select class="form-control input-sm" ng-model="ourcompany" name="ourcompany" required>
											<option  ng-repeat="ourcompany in ourcompanes">{{ourcompany.name}}</option>
										</select>
										<span class="help-block" my-validate-message="ourcompany"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="type_of_doc">
									<label class="col-sm-3 control-label">Тип документа</label>
									<div class="col-sm-6">
										<div class="add_doc_validstar">*</div>
										<select class="form-control input-sm" ng-model="type_of_doc" name="type_of_doc" required>
											<option  ng-repeat="type in types">{{type.name}}</option>
										</select>
										<span class="help-block" my-validate-message="type_of_doc"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="valid_date">
									<label class="col-sm-3 control-label">Срок действия</label>
									<div class="col-sm-6">
										<div class="input-group">
											<div class="add_doc_validstar" ng-if="type_of_doc == 'Договор'">*</div>
											<input type="text" class="form-control " datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="valid_date" close-text="Close"  name="valid_date" ng-if="type_of_doc == 'Договор'" required valid-data/>
											<input type="text" class="form-control " datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="valid_date" close-text="Close"  name="valid_date" ng-if="type_of_doc != 'Договор'" valid-data/> 
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div><span class="help-block" my-validate-message="valid_date "></span></div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Дата</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="date"  close-text="Close" />
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group" my-validate-class="number">
									<label class="col-sm-3 control-label">Номер</label>
									<div class="col-sm-6" >
										<div class="add_doc_validstar">*</div>
										<input type="text" class="form-control" ng-model="number" name="number" text="123" required>
										<span class="help-block" my-validate-message="number" ></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label"></label>
									<div class="col-sm-6">
											<input type="checkbox" name="rad1" ng-model="original_doc">
										<label class="ckeckbox-inline">Есть оригинал документа</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Добавить скан</label>
									<div class="col-sm-6">
										<span ng-repeat="item in uploader.queue">
								    		<strong>{{ item.file.name }}</strong>
					                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
					                            <span class="glyphicon glyphicon-trash"></span> Удалить
					                        </button>
					                        <div class="progress" style="margin-bottom: 0;" ng-show="item.isUploading">
					                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
					                        </div>
					                        <span ng-show="item.isSuccess">OK</span>
										</span>
										<span class="btn btn-success fileinput-button" ng-hide="uploader.queue.length || item.photo">
										    <i class="glyphicon glyphicon-plus"></i>
										    <span>Выбрать скан...</span>
										    <input id="fileupload3" type="file" name="files[]" multiple="" nv-file-select uploader="uploader" >
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Комментарий</label>
									<div class="col-sm-6">
										<textarea type="text" class="form-control" ng-model="comment"></textarea>
									</div>
								</div>
								<div class="col-sm-offset-3 col-sm-10">
								<button type="button" class="btn btn-primary" ng-click="validate() && Submit()"><i class="fa fa-check-circle"></i> Добавить</button>
								<a href="#/documents" type="button" class="btn btn-default"><i class="fa fa-reply"></i>  Отменить</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-controller="Clients" class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">ДОБАВЛЕНИЕ НОВОГО КОНТРАГЕНТА</h4>
                </div>
                <div class="modal-body" >
                    <form class="form-horizontal" novalidate my-validate name="form">
						<div class="form-group" my-validate-class="name">
							<label class="col-sm-3 control-label">Контрагент</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="client.name" name="name" required>
								<span class="help-block" my-validate-message="name"></span>
							</div>
						</div>
						<div class="form-group" my-validate-class="INN">
							<label class="col-sm-3 control-label">ИНН</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ngRequired="" ng-model="client.INN" name="INN">
								<span class="help-block" my-validate-message="INN"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Наш клиент</label>
							<div class="col-sm-6">
								<input type="checkbox" name='OurClient' class="icheck" ng-model="client.our">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Комментарий</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="client.comment">
							</div>
						</div>
					</form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" ng-click=" validate() && addClient(client) " >Сохранить</button>
                </div>
            </div>
        </div>
    </div>