<div class="row">
	<div class="container">
		<div class="span4 offset4">
			<div class="span9">
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Редактирование документа</h3>
					<h6><span class="sm">Создал: <span class="badge badge-danger">{{item.user.name}}</span></span>
					<span class="sm">Дата создания: <span class="badge badge-danger">{{item.date | date:'mediumDate'}}</span></span></h6>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" novalidate my-validate name="form">
								<div class="form-group" my-validate-class="company">
									<label class="col-sm-3 control-label">Контрагент</label>
									<div class="col-sm-6">
										<input type="text" name="company" ng-model="item.company" placeholder="Введите название контрагента..." typeahead="yyy as yyy.name for yyy in getClients($viewValue)" typeahead-min-length="1" typeahead-loading="loadingLocations" class="form-control" value="{{item.company.name}}" required ng-is-object>
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
										<span class="help-block" my-validate-message="company"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="cinema">
									<label class="col-sm-3 control-label">Кинотеатр</label>
									<div class="col-sm-6">
										<input type="text" name="cinema" ng-model="item.cinema" placeholder="Введите название кинотеатра..." typeahead="yyy as yyy.fullname for yyy in getCinema($viewValue)"  typeahead-min-length="3" typeahead-loading="loadingLocations" class="form-control" value="{{item.cinema.fullname}}">
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
										<span class="help-block" my-validate-message="cinema"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="ourcompany">
									<label class="col-sm-3 control-label">Наша компания</label>
									<div class="col-sm-6">
										<select class="form-control input-sm" ng-model="item.ourcompany" name="ourcompany" required>
											<option  ng-repeat="ourcompany in ourcompanes">{{ourcompany.name}}</option>
										</select>
										<span class="help-block" my-validate-message="ourcompany"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="type_of_doc">
									<label class="col-sm-3 control-label">Тип документа</label>
									<div class="col-sm-6">
										<select class="form-control input-sm" ng-model="item.type_of_doc" name="type_of_doc" required>
											<option  ng-repeat="type in types">{{type.name}}</option>
										</select>
										<span class="help-block" my-validate-message="type_of_doc"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="valid_date">
									<label class="col-sm-3 control-label">Срок действия</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="item.valid_date" close-text="Close"  name="valid_date" ng-if="item.type_of_doc == 'Договор'" required />
											<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="item.valid_date" close-text="Close"  name="valid_date" ng-if="item.type_of_doc != 'Договор'" />
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div><span class="help-block" my-validate-message="valid_date"></span></div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Дата</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="item.date_reciept"  close-text="Close"/>
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group" my-validate-class="number">
									<label class="col-sm-3 control-label">Номер </label>
									<div class="col-sm-6">
										<input type="text" class="form-control" ng-model="item.number" name="number" value="123" required>
										<span class="help-block" my-validate-message="number"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label"></label>
									<div class="col-sm-6">
										<input id="edit_checkbox" type="checkbox" name="rad1" ng-model="item.original_doc">
										<label for="edit_checkbox" class="ckeckbox-inline">Есть оригинал документа</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Добавить скан</label>
									<div class="col-sm-6">
										<span class="col-sm-8" style="line-height: 2.5;" ng-if="item.file"><a href="/docs_file/{{item.file}}" target="_blank" title="Просмотреть" ng-model="item.file"> {{((item.file).split("/"))[1]}} </a></span>
										<span ng-repeat="item in uploader.queue">
								    		<strong>{{ item.file.name }}</strong>
					                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
					                            <span class="glyphicon glyphicon-trash"></span> Удалить
					                        </button>
					                        <div class="progress" style="margin-bottom: 0;" ng-show="item.isUploading">
					                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
					                        </div>
					                        <span ng-show="item.isSuccess">OK</span>
										</span>
										<span class="btn btn-success fileinput-button" ng-hide="uploader.queue.length || item.photo">
										    <i class="glyphicon glyphicon-plus"></i>
										    <span>Выбрать скан...</span>
										    <input id="fileupload" type="file" name="files[]" multiple="" nv-file-select  uploader="uploader" type="file">
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Комментарий</label>
									<div class="col-sm-6">
										<textarea type="text" rows="10" class="form-control" ng-model="item.comment"></textarea>
									</div>
								</div>
								<div class="form-group" style="display:none;">
									<label class="col-sm-3 control-label">Пользователь создавший документ</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" ng-model="item.user" value="item.user">
									</div>
								</div>
							<div class="col-sm-offset-3 col-sm-10">
								<button type="button" class="btn btn-primary" ng-click="validate() && Submit()" ng-disabled="form.$invalid && submited"><i class="fa fa-check-circle"></i> Сохранить</button>
								<a href="#/documents" type="button" class="btn btn-default"><i class="fa fa-reply"></i>  Отменить</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>