<div class="row" ng-controller="DocList">
        <div class="col-md-12">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Документы  
                    <a href="#/documents/add" class="btn btn-primary btn-sm">Добавить</a>
                    <a href="#/documents/add_excel" class="btn btn-primary btn-sm">Пакетная загрузка</a>
                </h3>
                </div>
                <div class="panel-body">
                    <div class="for_form">
                    <form class="form_filter" ng-submit="Search(filter)">
                        <div class="col-md-2">
                            <label>Контрагент</label>
                            <input type="text" ng-model="filter.clients_s" placeholder="Введите название контрагента..." typeahead="clients as clients.name for clients in getClients($viewValue)" typeahead-min-length="1" typeahead-loading="loadingLocations" class="form-control">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        </div>
                        <div class="col-md-2">
                            <label>Кинотеатр</label>
                            <input type="text" ng-model="filter.cinema_s" placeholder="Введите название кинотеатра..." typeahead="yyy as yyy.fullname for yyy in getCinema($viewValue)"  typeahead-min-length="3" typeahead-loading="loadingLocations" class="form-control">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label>Дата документа</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" show-weeks=false toggle-weeks-text='' ng-model="filter.date" max="'2020-06-22'"  close-text="Close"/>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Тип документа</label>

                            <select class="form-control input-sm" ng-model="filter.type_of_doc" name="type_of_doc">
                                <option value="">Все</option>
                                <option  ng-repeat="type in types">{{type.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                        <label class="col-sm-3 control-label" style="padding:0px;">Номер</label>
                            <input type="text" class="form-control" ng-model="filter.number" name="number">
                            <span class="help-block"></span>
                        </div>
                        <div class="col-md-1">
                        <label class="col-sm-3 control-label" style="padding:0px;">ИНН</label>
                            <input type="text" class="form-control" ng-model="filter.INN" name="INN">
                            <span class="help-block"></span>
                        </div>
                        <div class="col-md-2" style="line-height: 5.3;">
                        	<button type="submit" id="submit" class="btn btn-info btn-sm" ng-click="Search(filter)"><i class="fa fa-search"></i> Найти</button>
                            <a href="" class="btn btn-default btn-sm" ng-click="ClearFilter(filter)"><i class="fa fa-filter"></i> Сбросить</a>
                        </div>
                    </form>
                    </div>
                <div class="my-drop-zone" nv-file-over="" nv-file-drop="" uploader="uploader">
                <table id="example" class="table table-striped table-condensed" template-pagination="custom/pager" id="DataTables_Table_0" cellspacing="0" width="100%" ng-table="tableParams">
                <thead>
                    <tr class="L2_list_table">
                        <th style="display:none;">ID</th>
                        <th fieldname="date_reciept" dt-sorting>Дата</th> 
                        <th fieldname="number" dt-sorting>Номер</th>
                        <th fieldname="company" dt-sorting>Контрагент</th>
                        <th fieldname="cinema" dt-sorting>Кинотеатр</th>
                        <th fieldname="type_of_doc" dt-sorting>Тип документа</th>
                        <th>Оригинал</th>
                        <th fieldname="date" dt-sorting>Добавлен</th>
                        <th style="width: 40px;">Скан</th>
                        <th style="width: 85px;"></th>
                        <th style="display:none;">пользователь</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in list" ng-class="{success:document.$edit}">
                        <td style="display:none;" ng-model="document.itemid">{{document._id.$oid}}</td>
                        <td>
                            <span ng-if="!document.$edit">{{document.date_reciept*1000 | date:'dd.MM.yyyy'}}</span> 
                        </td>
                        <td>
                            <span ng-if="!document.$edit">{{document.number}}</span>
                        </td>
                        <td>
                        	<span ng-if="!document.$edit"><a href="#/documents/view/{{document._id.$oid}}">{{document.company.name}}</a></span>
                            </span>
                        </td>                       
                        <td>
                            <span ng-if="!document.$edit">{{document.cinema.title}}</span>
                        </td>
                        <td>
                        	<span ng-if="!document.$edit">{{document.type_of_doc}}
                            </div>
                        </td>
                        <td style="text-align:center;">
                            <span  ng-if="document.original_doc == true" class="badge badge-success animated bounceIn"  name='original_doc' ng-model="document.original_doc">Есть</span>
                            <span  ng-if="document.original_doc == false" class="badge badge-danger animated bounceIn"  name='original_doc' ng-model="document.original_doc">Отсутствует</span>
                        </td>
                        <td>
                            <span ng-if="!document.$edit">{{document.date*1000 | date:'dd.MM.yyyy'}}</span> 
                        </td>
                        <td style="text-align:center;">
                            <a ng-if="document.file" href="/docs_file/{{document.file}}" target="_blank"><font color="#428BCA"><span class="fa fa-file-text fa-lg"></span></font></a>
                        </td> 
                        <td data-title="'Actions'" style="text-align: center;">
                            <a ng-if="(user=='SuperUser' || user=='ManagerCinema') || user_id==document.user.id" href="#/documents/edit/{{document._id.$oid}}" ng-click="showForm(document)"><font color="#1ABC9C"><span class="fa fa-pencil fa-lg"></span></font></a>&nbsp
                            <a href="" ng-if="user=='SuperUser'" ng-click="remove(document._id.$oid, document)"><font color="#E74C3C"><span class="fa fa-trash-o fa-lg"></span></font></a>&nbsp
                        </td>                                   
                        <td style="display:none;">
                            <span>{{document.user}}</span> 
                        </td>
                    </tr>
                    <tr ng-if="page.max==0"><td colspan="9" class="list_nodata"><span>Поиск не дал результатов </span> </td> </tr>
                </tbody>
            </table>
<!--             <div>
                <tk-paging></tk-paging>
           </div> -->
           <div ng-if='page.paging.length>1 '>
                <tk-userpaging maxpage="{{page.paging.length}}" curpage="{{page.page}}" showpage="10" navig="#/documents/p"></tk-userpaging>
           </div>

         </div>
    </div>
</div>