<section class="main-content">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Документы в почте</h3>
                </div>
                <div class="panel-body">
                    <tk-paging></tk-paging>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Имя файла</th>
                                <th>Отправитель</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="document in list" ng-click="doc_link(document._id.$oid,document.filename.short,document.date*1000)" ng-class="{success: (document._id.$oid == old_id)}">
                                <!-- <td style="display:none;" ng-model="document.itemid">{{document._id.$oid}}</td> -->
                                <td>
                                    <span>{{document.date*1000 | date:'dd.MM.yyyy'}}</span> 
                                </td>
                                <td>
                                    <!-- <span><a href="" ng-click="open_doc(document._id.$oid,document.filename.full)">{{document.filename.short}}</a></span> -->
                                    <span><a href="docs_file/tmp/{{document._id.$oid + '/' + document.filename.full}}" target="doc_window">{{document.filename.short}}</a></span>
                                </td>                       
                                <td>
                                    <span>{{document.sender}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Карточка документа <span class="badge badge_file" ng-model="file">{{filename}}</span></h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" novalidate my-validate name="form">
                        <input type="hidden" ng-model="old_id" name="old_id" value="{{old_id}}">
                        <div class="form-group" my-validate-class="company">
                            <label class="col-sm-3 control-label">Контрагент</label>
                            <div class="col-sm-6">
                                <div class="add_doc_validstar">*</div>
                                <input type="text" name="company" ng-model="company" placeholder="Введите название контрагента..." typeahead="yyy as yyy.name for yyy in getClients($viewValue)" typeahead-min-length="1" typeahead-loading="loadingLocations" class="form-control" value="{{company.name}}" required existname add-popup>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div class="help-block-add" ng-if=" !company.name && form.myVal " >
                                    <b>"{{form.myVal}}" </b> не найдено в базе.<br>
                                    <span class="add_popup" data-toggle="modal" data-target="#basicModal"  ng-click="Popup()" >Добавить</span>? 
                                </div>
                                <span class="help-block" my-validate-message="company"></span>
                            </div>
                        </div>
                        <div class="form-group" my-validate-class="cinema">
                            <label class="col-sm-3 control-label">Кинотеатр</label>
                            <div class="col-sm-6">
                                <input type="text" name="cinema" ng-model="cinema" placeholder="Введите название кинотеатра..." typeahead="cinema as cinema.fullname for cinema in getCinema($viewValue)"  typeahead-min-length="3" typeahead-loading="loadingLocations" class="form-control" existname>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <span class="help-block" my-validate-message="cinema"></span>
                            </div>
                        </div>
                        <div class="form-group" my-validate-class="ourcompany">
                            <label class="col-sm-3 control-label">Наша компания</label>
                            <div class="col-sm-6">
                                <div class="add_doc_validstar">*</div>
                                <select class="form-control input-sm" ng-model="ourcompany" name="ourcompany" required>
                                    <option  ng-repeat="ourcompany in ourcompanes">{{ourcompany.name}}</option>
                                </select>
                                <span class="help-block" my-validate-message="ourcompany"></span>
                            </div>
                        </div>
                        <div class="form-group" my-validate-class="type_of_doc">
                            <label class="col-sm-3 control-label">Тип документа</label>
                            <div class="col-sm-6">
                                <div class="add_doc_validstar">*</div>
                                <select class="form-control input-sm" ng-model="type_of_doc" name="type_of_doc" required>
                                    <option  ng-repeat="type in types">{{type.name}}</option>
                                </select>
                                <span class="help-block" my-validate-message="type_of_doc"></span>
                            </div>
                        </div>
                        <div class="form-group" my-validate-class="valid_date">
                            <label class="col-sm-3 control-label">Срок действия</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="add_doc_validstar" ng-if="type_of_doc == 'Договор'">*</div>
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="valid_date" max="'2015-06-22'" close-text="Close"  name="valid_date" ng-if="type_of_doc == 'Договор'" required valid-data/>
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="valid_date" max="'2015-06-22'" close-text="Close"  name="valid_date" ng-if="type_of_doc != 'Договор'" valid-data/>

                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <div><span class="help-block" my-validate-message="valid_date"></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Дата</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="date" max="'2015-06-22'"  close-text="Close"  />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" my-validate-class="number">
                            <label class="col-sm-3 control-label">Номер</label>
                            <div class="col-sm-6">
                                <div class="add_doc_validstar">*</div>
                                <input type="text" class="form-control" ng-model="number" name="number" text="123" required>
                                <span class="help-block" my-validate-message="number"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-6">
                                    <input type="checkbox" name="rad1" ng-model="original_doc">
                                <label class="ckeckbox-inline">Есть оригинал документа</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Комментарий</label>
                            <div class="col-sm-6">
                                <textarea type="text" class="form-control" ng-model="comment"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" class="btn btn-primary" ng-click="validate() && Submit()"><i class="fa fa-check-circle"></i> Перенести в документы</button>
                            <!-- <a href="#/documents" type="button" class="btn btn-default"><i class="fa fa-reply"></i>  Отменить</a> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-controller="Clients" class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">ДОБАВЛЕНИЕ НОВОГО КОНТРАГЕНТА</h4>
                </div>
                <div class="modal-body" >
                    <form class="form-horizontal" novalidate my-validate name="form">
                        <div class="form-group" my-validate-class="name">
                            <label class="col-sm-3 control-label">Контрагент</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="client.name" name="name" required>
                                <span class="help-block" my-validate-message="name"></span>
                            </div>
                        </div>
                        <div class="form-group" my-validate-class="INN">
                            <label class="col-sm-3 control-label">ИНН</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ngRequired="" ng-model="client.INN" name="INN">
                                <span class="help-block" my-validate-message="INN"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Наш клиент</label>
                            <div class="col-sm-6">
                                <input type="checkbox" name='OurClient' class="icheck" ng-model="client.our">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Комментарий</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="client.comment">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" ng-click=" validate() && addClient(client) " >Сохранить</button>
                </div>
            </div>
        </div>
    </div>
