<div class="row">
	<div class="container">
		<div class="span4 offset4">

			<div class="span9">
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Просмотр документа</h3>
					<h6><span class="sm">Создал: <span class="badge badge-danger">{{item.user.name}}</span></span>
					<span class="sm">Дата создания: <span class="badge badge-danger">{{item.date | date:'mediumDate'}}</span></span></h6>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">Контрагент</label>
									<div class="col-sm-6">
										<span class="caption" ng-model="item.company">{{item.company.name}}</span>
									</div>
								</div>
								<div ng-if="item.cinema.fullname" class="form-group" my-validate-class="cinema">
									<label class="col-sm-3 control-label">Кинотеатр</label>
									<div class="col-sm-6">
										<span class="caption" ng-model="item.cinema">{{item.cinema.fullname}}</span>
									</div>
								</div>
								<div class="form-group" my-validate-class="ourcompany">
									<label class="col-sm-3 control-label">Наша компания</label>
									<div class="col-sm-6">
										<span class="caption" ng-model="item.ourcompany">{{item.ourcompany}}</span>
									</div>
								</div>
								<div class="form-group" my-validate-class="type_of_doc">
									<label class="col-sm-3 control-label">Тип документа</label>
									<div class="col-sm-6">
										<span class="caption" ng-model="item.type_of_doc">{{item.type_of_doc}}</span>
									</div>
								</div>
								<div class="form-group" my-validate-class="valid_date">
									<label class="col-sm-3 control-label">Срок действия</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="item.valid_date" max="'2015-06-22'"  close-text="Close" disabled />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Дата</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" date-format="yyyy-mm-dd" ng-model="item.date_reciept" max="'2015-06-22'"  close-text="Close" disabled />
									</div>
								</div>
								<div class="form-group" my-validate-class="number">
									<label class="col-sm-3 control-label">Номер </label>
									<div class="col-sm-6">
										<span class="caption" ng-model="item.number">{{item.number}}</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Есть оригинал документа</label>
									<div class="col-sm-6">
										<span ng-if="item.original_doc == true" class="caption" ng-model="item.original_doc"><span class="badge badge-success animated bounceIn">Есть</span></span>
										<span ng-if="item.original_doc == false" class="caption" ng-model="item.original_doc"><span class="badge badge-danger animated bounceIn">Отсутствует</span></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Cкан</label>
									<div class="col-sm-6">
										<span class="caption" style="line-height: 2.5;" ng-if="item.file"><a href="/docs_file/{{item.file}}" target="_blank" title="Просмотреть" ng-model="item.file"> {{((item.file).split("/"))[1]}} </a></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Комментарий</label>
									<div class="col-sm-6">
										<textarea type="text" rows="10" class="form-control" ng-model="item.comment" disabled></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">История изменений документа</label>
									<div class="col-sm-6">
										<table class="table">
											<thead>
												<th>Дата</th>
												<th>Пользователь</th>
												<th>Действие</th>
											</thead>
											<tbody>
												<tr ng-repeat="l in item.logs | orderBy:'-datetime' | limitTo:$limit">
													<td>{{l.datetime*1000 | date:'dd.MM.yyyy hh:mm:ss'}}</td>
													<td>{{l.user}}</td>
													<td style="max-width:200px;overflow-x:hidden;word-wrap: break-word;">
													<!--<span id="test1" type="button" class="badge" data-container="body" data-toggle="popover" data-trigger="click" data-placement="right" data-content="<div style='word-wrap:break-word;'>dfsfsfs</div>"></span>-->
													<!--<span popover="{{l.details}}" popover-html="true" popover-title="Детализация" popover-placement="right" class="badge">{{(l.action == 'add') ? 'Добавление' : 'Редактирование'}}</span>-->
													<span ng-if="l.action == 'view'" class="badge">{{(l.action == 'view') ? 'Просмотр' : 'Редактирование'}}</span>

													<span ng-if="l.action != 'view'" class="badge" custom-popover popover-html="<div>{{l.details}}</div" popover-placement="right" popover-title="Детализация" label="test1">{{(l.action == 'view') ? 'Просмотр' : 'Редактирование'}}</span>
													</td>
												</tr>
											</tbody>
										</table>
												<a href="" ng-hide="$showAll" ng-click="$limit = item.logs.length; $showAll=true">Показать все логи</a>
												<a href="" ng-show="$showAll" ng-click="$limit = $defaultList; $showAll=false">Скрыть все логи</a>
									</div>
								</div>
							<div class="col-sm-offset-3 col-sm-10">
								<a ng-if="user=='SuperUser' || user_id==item.user.id" href="#/documents/edit/{{item._id.$oid}}" class="btn btn-primary" ng-disabled="form.$invalid && submited"><i class="fa fa-pencil"></i> Редактировать</a>
								<a href="#/documents" type="button" class="btn btn-default"><i class="fa fa-reply"></i>  Отменить</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
