<div class="row" ng-controller="Clients">
	<div class="container">
		<div class="span4 offset4">
			<div class="span9">
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Добавление нового контрагента</h3></div>
					<div class="panel-body">
						<form class="form-horizontal" novalidate my-validate name="form">
								<div class="form-group" my-validate-class="name">
									<label class="col-sm-3 control-label">Контрагент</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" ng-model="client.name" name="name" required>
										<span class="help-block" my-validate-message="name"></span>
									</div>
								</div>
								<div class="form-group" my-validate-class="INN">
									<label class="col-sm-3 control-label">ИНН</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" ngRequired="" ng-model="client.INN" name="INN">
										<span class="help-block" my-validate-message="INN"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Наш клиент</label>
									<div class="col-sm-6">
										<input type="checkbox" name='OurClient' class="icheck" ng-model="client.our">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Комментарий</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" ng-model="client.comment">
									</div>
								</div>
							<div class="col-sm-offset-3 col-sm-10">
								<button type="submit" class="btn btn-primary" ng-click="validate() && addClient(client)">Сохранить</button>
								<a href="#/clients" class="btn btn-default">Отменить</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>