<div class="row" ng-controller="Clients">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Контрагенты   <a href="#/clients/add" class="btn btn-primary btn-sm">Добавить</a>
                <div style="float:right;"><input type="text" class="form-control col-md-4" placeholder="Поиск контрагента..." ng-model="query" ng-keyup="LoadList(query)"></div></h3>
              </div>
              <div class="panel-body">
                <div ng-if='page.paging.length>1'>
                    <tk-userpaging id="pgntr1" maxpage="{{page.paging.length}}" curpage="{{page.page}}" showpage="10" navig="#/clients/p"></tk-userpaging>
                </div>
                <table id="example" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="width: 90px;"></th>
                        <th style="display:none;">ID</th>
                        <th>Контрагент</th>
                        <th style="width: 150px;">ИНН</th>
                        <th style="width: 115px;">Наш клиент?</th>
                        <th>Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in list"   ng-class="{success:client.$edit}">

                        <td style="text-align: center;">
                            <a ng-if="!client.$edit" href="" ng-click="client.$edit = true"><font color="#1ABC9C"><span class="fa fa-pencil fa-lg"></span></font></a>&nbsp
                            <a ng-if="client.$edit" href="" ng-click="EditClient(client)"><font color="#1ABC9C"><span class="fa  fa-check fa-lg"></span></a>&nbsp
                            <a ng-if="user=='SuperUser'" href="" title="Удалить"><font color="#E74C3C"><span class="fa fa-trash-o fa-lg" ng-click="Cremove(client._id.$oid, client)"></span></font></a>
                        </td>
                        <td style="display:none;" ng-model="client.itemid" />{{client._id.$oid}}</td>
                        <td>
                            <span ng-if="!client.$edit">{{client.name}}</span>
                            <div ng-if="client.$edit"><input class="form-control" type="text" ng-model="client.name" /></div>     
                        </td>
                        <td>
                            <span ng-if="!client.$edit">{{client.INN}}</span>
                            <div ng-if="client.$edit"><input class="form-control" type="text" ng-model="client.INN" /></div>     
                        </td>
                        <td style="text-align:center;">
                            <input  ng-if="!client.$edit" type="checkbox" disabled="disabled" name='OurClient' class="icheck" ng-model="client.OurClient">
                            <input  ng-if="client.$edit" type="checkbox" name='OurClient' class="icheck" ng-model="client.OurClient">
                        </td>
                        <td>
                            <span ng-if="!client.$edit">{{client.comment}}</span>
                            <div ng-if="client.$edit"><input class="form-control" type="text" ng-model="client.comment" /></div>     
                        </td>
                    </tr>
                    <tr ng-if="list==0"><td colspan="9" class="list_nodata"><span>Поиск не дал результатов </span> </td> </tr>
                </tbody>
            </table>
                <!-- <tk-paging></tk-paging> -->
                <div ng-if='page.paging.length>1'>
                    <tk-userpaging id="pgntr2" maxpage="{{page.paging.length}}" curpage="{{page.page}}" showpage="10" navig="#/clients/p"></tk-userpaging>
                </div>
           </div>
         </div>
    </div>
</div>