<div class="row" ng-controller="Company">
	<script type="text/javascript">

	    $(document).ready(function() {
	        $('input').iCheck({
	            checkboxClass: 'icheckbox_flat-grey',
	            radioClass: 'iradio_flat-grey'
	        });
	        $('#addtype').click(function(){
	            $('#formadd').toggle('fast');
	        });
	    });

	</script>
	    <div class="col-md-12">
	        <div class="panel panel-default">
	          <div class="panel-heading">
	            <h3 class="panel-title">Наши компании</h3>
	          </div>
	          <div class="panel-body">
	            <table id="example" class="table table-striped" cellspacing="0" width="100%">
	            <colgroup>
	                <col span="2">
	                <col span="2">
	                <col span="6">
	            </colgroup>
	            <thead>
	                <tr>
	                    <th>Компании</th>
	                </tr>
	            </thead>
	     
	            <tbody> 
	                <tr ng-repeat="company in list"  ng-class="{success:company.$edit}">
	                    <!-- <td style="text-align: center;">
	                        <a ng-if="!company.$edit" href="" ng-click="company.$edit = true"><font color="#1ABC9C"><span class="fa fa-pencil fa-lg"></span></font></a>&nbsp
	                        <a ng-if="company.$edit" href="" ng-click="Editcompany(company)"><font color="#1ABC9C"><span class="fa  fa-check fa-lg"></span></font></a>&nbsp
	                        <a ng-if="user=='SuperUser'" href="" title="Удалить" ng-click="remove(company._id.$oid, company)"><font color="#E74C3C"><span class="fa fa-trash-o fa-lg"></span></font></a>
	                    </td> -->
	                    <td style="display:none;">{{company._id.$oid}}</td>
	                    <td>                                        
	                        <span ng-if="!company.$edit">{{company.name}}</span>
	                        <!-- <div ng-if="company.$edit"><input class="form-control" type="text" ng-model="company.name" /></div>  -->
	                    </td>
	                </tr>

	            </tbody>
	        </table>
	       </div>
	     </div>
	</div>
</div>