<div class="row" ng-controller="DatabookList">
    <script type="text/javascript">

        $(document).ready(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-grey',
                radioClass: 'iradio_flat-grey'
            });
            $('#addtype').click(function(){
                $('#formadd').toggle('fast');
            });
        });

    </script>
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Типы документов  <a href="" class="btn btn-primary btn-sm" id="addtype">Добавить</a></h3>
              </div>
              <div class="panel-body">
                <div id="formadd" style="display:none;">
                    <div class="container">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Тип документа</label>
                                <div class="col-sm-6">
                                    <input id="txttype" class="form-control" type="text" placeholder="Введите имя типа" ng-model="type.newname" required>
                                </div>
                                <a href="" ng-if="type.newname" class="btn btn-primary" ng-click="addType(type)">Сохранить</a>
                            </div>
                        </form>
                    </div>
                </div>
                <table id="example" class="table table-striped" cellspacing="0" width="100%">
                <colgroup>
                    <col span="2">
                    <col span="2">
                    <col span="6">
                </colgroup>
                <thead>
                    <tr>
                        <th style="width: 90px;"></th>
                        <th>Тип документа</th>
                    </tr>
                </thead>
         
                <tbody>
                    <tr ng-repeat="type in list"  ng-class="{success:type.$edit}">
                        <td style="text-align: center;">
                            <a ng-if="!type.$edit" href="" ng-click="type.$edit = true"><font color="#1ABC9C"><span class="fa fa-pencil fa-lg"></span></font></a>&nbsp
                            <a ng-if="type.$edit" href="" ng-click="EditType(type)"><font color="#1ABC9C"><span class="fa  fa-check fa-lg"></span></font></a>&nbsp
                            <a ng-if="user=='SuperUser'" href="" title="Удалить" ng-click="remove(type._id.$oid, type)"><font color="#E74C3C"><span class="fa fa-trash-o fa-lg"></span></font></a>
                        </td>
                        <td style="display:none;">{{type._id.$oid}}</td>
                        <td>                                        
                            <span ng-if="!type.$edit">{{type.name}}</span>
                            <div ng-if="type.$edit"><input class="form-control" type="text" ng-model="type.name" /></div> 
                        </td>
                    </tr>
                </tbody>
            </table>
           </div>
         </div>
    </div>
</div>