#header {
  box-shadow: #5D5F63 0px 0px 15px;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  display: block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.caption {
  line-height: 2.5;
}
.popover {
  min-width:230px;
}
.popover-content p {
  font-size:10px;
}
.form_filter input, select {
  min-height: 29px!important;
}
.form_filter label {
  font-size: 9pt!important;
}
.btn-default {
    color: #888585;
    background-color: #F6F6F6;
}
.for_form {
    float: left;
}
.my-drop-zone {
    float: left;
    width: 100%;
}
.ng-file-over {
    outline: 2px dashed gray !important;
}
.badge_file {
  margin-left: 15px;
}
.file_in_mail {
  cursor: pointer;
}
.list_nodata{
  text-align: center;
  font-size: 18px;
  padding: 40px 0 !important;
  font-weight: bold;
}
.add_doc_validstar{
  color: red;
  margin: 0 0 0 -25px;
  float: left;
  cursor: default;
  font-size: 16px;
}
.help-block-add{
  width: 240px;
  min-height: 36px;
  margin-top: 2px;
  padding: 6px 22px;
  color: #717171;
  outline: 0;
  line-height: 18px;
  font-size: 13px;
  background-color: #fafafa;
  border:1px solid #CACFD2;
  filter: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  word-wrap: break-word;
}
.add_popup{
  cursor: pointer;
  border-bottom: 1px solid #717171;
}
.upl_item{
  border: 1px solid red;
  border-radius: 8px;
  color: red;
  padding: 3px 8px;
}
.upl_item_unred{
  color: red;
}
.upl_item_notexist{
  color: gray;
  padding: 3px 8px;
}
.upl_item_ready{
  color: green;
  border: 1px solid green;
  border-radius: 8px;
  padding: 3px 8px;
}
.itm_desk{
  margin-bottom: 10px;
}
.itm_col{
  margin: 3px 0px;
}
.itm_disp{
  display: inline;
}
.live2_preloader{
  display: block;
  margin: 0 auto;
}
.L2_list_table > th.sorting{
  cursor: pointer;
}
.sorting{
  background: url('/images/sort_both.png') no-repeat center right;
}
.sort_asc{
  background: url('/images/sort_asc.png') no-repeat center right;
}
.sort_desc{
  background: url('/images/sort_desc.png') no-repeat center right;
}